<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Camilo E Londono/IdeaProjects/TestNGuedemy/src/test/java/testNGudemy/Parameterstest.java">
        <classes>
            <class name="testNGudemy.Parameterstest">
                <methods>
                <include name="testLogo"/>
                <include name="testTitle"/>
                <include name="testURL"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>